img {
    max-width: 100%;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

    z-index: 1;
}

/*  upper header */

.upper-header {
    background-color: #000;
}

#logo-sony {
    display: inline-block;
    height: 20px;
}

/* bottom header */

.dropdown {
    position: static
}

.dropdown-menu {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    width: 100%;

}

.dropdown-menu>li {
    display: inline-block;
}

.dropdown-item>p {
    margin: 0 auto;
    display: block
}

.navbar-ps5 {
    height: 70px;
    display: block;
    margin: 0 auto;
}

.btn:hover.btn-effect {
    box-shadow: 0 0 0px 2px #fff inset;
}

/* main */

main {
    margin-top: 112px
}

/* #jumbotron */

#jumbotron {
    width: 100%
}

#jumbotron .jumbo-slides {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    height: 60vh;
}

.slide-title {
    position: absolute;
    bottom: 0;
    left: 0;
}

#slide-title-img {
    height: 70px;
}

.jumbo-carousel figure:hover img {
    outline: 4px solid blue;
    outline-offset: 3px;
}

.outlined {
    outline: 4px solid blue;
    outline-offset: 3px;
}

/* Playstation 5 section */



#playstation-5 figure:hover .active-border {
    border-bottom: 2px solid blue;
}


/* games-slide section */

#games-slider {
    width: 100%;
}

#games-slide-title-img {
    width: 20vw;
    min-width: 150px
}

#games-slider .games-slides {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 60vh;
}

/* now-out section */

#now-out {
    background-color: #1F1F1F;
}